<div class="columns is-mobile is-multiline is-centered is-gapless">
 <div class="column is-narrow">
   <a href="https://www.icagile.com/credentials/0632e3b4-b269-46cf-8223-e30775084a78" target="_blank">
     <img src="https://www.icagile.com/media/badges/png/ICP-ATF.png" alt="ICP-ATF" class="badge-image">
   </a>
 </div>
 <div class="column is-narrow">
   <a href="https://www.credly.com/badges/8ed365af-5145-4cb1-a6c8-6b477edeb04d" target="_blank">
     <img src="https://images.credly.com/size/680x680/images/a2790314-008a-4c3d-9553-f5e84eb359ba/image.png" alt="PSM1" class="badge-image">
   </a>
 </div>
 <div class="column is-narrow">
  <a href="https://www.udemy.com/certificate/UC-199f04ab-6506-4b7e-8b04-d12fc2bc3c15/" target="_blank">
    <img src="https://storage.googleapis.com/cms-storage-bucket/0a9a0f470b169b58b8e6.png" alt="Flutter" class="badge-image flutter-logo">
  </a>
</div>
 <!-- Agrega más columnas según sea necesario -->
</div>


