<div class="food-tracker-page">
  <div class="container">
    <div class="content-wrapper">
      <!-- Columna izquierda: Video -->
      <div class="video-container">
        <h2>Demo de producto</h2>
        <div class="video-phone">
          <iframe src="https://www.youtube.com/embed/E1OBgd72yOE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <!-- Columna derecha: Descripción -->
      <div class="description-container">
        <h2>¿Qué es Foodtracker?</h2>
        <p><strong>Foodtracker</strong> es una aplicación móvil desarrollada en Flutter que permite registrar y monitorear la fecha de expiración de tus alimentos.</p>
      </div>
    </div>
  </div>
</div>
 